* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 179);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    background-color: rgb(63, 63, 63);
    padding: 50px;
    width: 800px;
    height: 430px;
    border-radius: 10px;
}


.con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    border-left: 6px solid rgb(0, 255, 179);
    color: rgb(0, 255, 179);
    padding-left: 20px;
    font-weight: 900;
}




.con input {
    outline: none;
    width: 250px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.con input::placeholder {
    font-weight: 900;
    color: aliceblue;
}

.container p{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 18px;
}

.con button{
    color: rgb(0, 255, 179);
    border: none;
    background-color: transparent;
    font-size: 17px;
    padding: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}