*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080a21;
}
.title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 10px;
    color: aliceblue;
}
.row{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.col{
    background-color: #2097f3;
    width: 150px;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.col h1{
    font-size: 70px;
}
.col p{
    font-size: 20px;
    background-color: rgb(255, 255, 255,o.4);
}
.k{
    background-color: #fd006b;
}
.col p{
    opacity: 0.8;
    color: aliceblue;
    font-weight: 600px;
}
.pm{
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: aliceblue;
    margin-top: 80px;
    border-radius: 5px;
    margin-left: -17px;
    
}